html, body {
  height: 100%;
  margin: 0;
  padding:0;
}

#navbar {
  background-color: #006837;
  padding: 0px ;
  height: 50px;
  align-items: center;
  display: flex;
  margin: 0;
  width: 100%;
}



#navbar a{
  color: white;
  padding: 10px 20px;
  text-align: center;
}
#navbar a:hover {
  background-color: #004d2c;
}


#header {
  background-color: #addd8e;
  text-align: center;
  padding: 5px;
  height: 80px;
}

/* Sidebar */
#sidebar {
  position: absolute;
  top: 130px;
  left: 0;
  width: 320px;
  bottom: 0;
  background-color:#ffffcc;
  padding: 10px;

}


#map {
  position: absolute;
  top: 130px;
  left: 320px;
  right: 0;
  bottom: 0;

}

.widget {
  position: absolute;
  top: 80px;
  right: 10px;
  background: rgba(255,255,255,0.9);
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1000;
  width: 250px;
  font-family: sans-serif;
}
.widget h2 {
  font-size: 16px;
  margin: 0 0 10px 0;
}
.widget select, .widget input {
  width: 100%;
  margin-bottom: 8px;
}
